.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__list {
    text-align: center;
    @include desktop {
      display: flex;
      align-items: baseline;
      justify-content: center;
    }
  }

  &__container-blocks {
    @include tablet {
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin-bottom: 60px;
      margin-right: auto;
    }
  }
}
