:root {
    --main-color: #ffffff;
    --hero-color: #2f303a;
    --footer-color: #2f303a;
    --active-link-color: #2196f3;
    --first-btn-color: #2196f3;
    --second-btn-color: #f5f4fa;
    --title-color: #212121;
    --main-contente-color: #e5e5e5;
    --text-color: #757575;
}